
@{
    ViewBag.Title = "Overzicht";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1>Het Cultuurhuis</h1>
        </div>
        <div class="col-md-3">
            <img src="~/Images/mandje.png" alt="winkelmandje" />
        </div>
    </div>
    <div class="btn-group">
        <a href="~/Home/Index" class="btn btn-primary btn-lg">
            Tickets kiezen
        </a>
    </div>
</div>

<div class="alert alert-success" role="alert">Gelukte reserveringen</div>

<!-- Table -->
<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th>uitvoerders</th>
            <th>Prijs</th>
            <th>Plaatsen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.GelukteReservaties)
        {
            <tr>
                <td>@item.Voorstelling.Datum</td>
                <td>@item.Voorstelling.Titel</td>
                <td>@item.Voorstelling.Uitvoerders</td>
                <td>@item.Voorstelling.Prijs</td>

                <td>@item.Plaatsen</td>
              
            </tr>
        }
    </tbody>
</table>

<div class="alert alert-danger" role="alert">Mislukte Reservaties</div>

<!-- Table -->
<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th>uitvoerders</th>
            <th>Prijs</th>
            <th>Plaatsen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.MislukteReservaties)
        {
            <tr>
                <td>@item.Voorstelling.Datum</td>
                <td>@item.Voorstelling.Titel</td>
                <td>@item.Voorstelling.Uitvoerders</td>
                <td>@item.Voorstelling.Prijs</td>

                <td>@item.Plaatsen</td>

            </tr>
        }
    </tbody>
</table>
